.ri-xb h3{width: 100%;height: 25px;;font-size: 25px;line-height: 25px;color: #CD0102;font-weight: bolder;}
.ri-xb h4{margin-top: 25px;width: 100%;height: 18px;font-size: 16px;line-height:18px; color: #CD0102;
font-weight: bold;}
.ri-xb ul{margin-top: 25px; width: 100%;height: 110px;}
.ri-xb ul li{line-height: 22px; color: #797979;font-size: 14px;}
.xiazai{ width: 180px;height: 65px;background: #CD0102;border-radius: 10px;}
.xiazai a{display: block;width: 100%;height: 35px;line-height: 60px;text-align: center;font-size: 18px;color: wheat;font-weight: bold;}