.cont{height: 1400px;}
.ri-xb{padding-top: 85px;}
.ri-xb ul{width: 100%;background: blue;}
.cont{ height: 1500px;}
.ri-xb ul li{margin: 0 65px 0 0;;float: left;width: 370px;height: 285px;}
.ri-xb .img{ width: 100%;height: 200px;overflow: hidden;}
.ri-xb .img img{width: 100%;height: 240px;}
.ri-xb p{width: 100%;height: 87px;line-height: 87px;font-weight: bold;text-align: center;font-size: 16px;}